/*GENERAL*/
ul{
    list-style: none;
    padding: 0px;
    margin: 0px; 
}
li{
    list-style: none;
    padding: 0px;
    margin: 0px; 
}

h1{
    font-size: 23px;
    margin: 22px;
    text-align: center;
    font-family:sans-serif;
}


/*FIN GENERAL*/


/*HEADER*/

.navbar{
    display: flex;
    justify-content: space-between;
    padding:10px 60px 5px 60px;
    background-color:white;
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px gray;
}
.navbar > li {
    display: flex;
    align-items: center;
}

.botongenerico{
    border: 0px;
    border-radius: 8px;
    font-weight: bolder;
    padding: 10px 40px;
}

.botongenerico:hover{
    cursor: pointer;
}

.mainboton{
    background-color: rgba(173, 169, 169, 0.603);
    color: black;
}

.mainboton:hover{
    box-shadow: 4px 4px gray;
}

.logo{
    height: 150px;
}

.logo:hover{
    cursor: pointer;
}

/*FIN DEL HEADER*/


/*MAIN*/

.h2serv{
    font-size: 15px;
    margin: 22px;
    text-align: center;
    font-family:sans-serif;
}

.bodyserv{
    background-color: white;
    display: block;
    margin-bottom:0 auto;
}

.h1titu{
    background-color:white;
    border-bottom: 1px solid gray;
}

.contenedorimgserv{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;

}
.contenedorimgserv > img{
    object-fit: cover;
    width: 80%;
    border-radius: 50px;
}
.espacio{
    margin-bottom: 40px;
}
.contenedorimgserv:hover{
    cursor: pointer;
    transform: scale(1.02);
}

/*FIN DEL MAIN*/

.nombre{
    padding: 5px;
    font-size: 16px;
    
}

.boton{
    width: 100%;
    background:  rgba(173, 169, 169, 0.603);
    border: 0;
    padding: 10px;
    color:black;
    margin:0 auto;
    font-size: 18px;
    border-radius: 30px;
    font-weight: bolder;
}
.boton:hover{
    box-shadow: 4px 4px gray;
    cursor: pointer;
}


footer .barra-footer
{
	background-color: grey;
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer .logo-footer
{
	width: 20%;
}


footer ul
{
	padding-left: 0;
	list-style: none;
	margin: 0;
}

footer ul li
{
	margin-bottom: 15px;
}

footer p
{
	color: white;
	margin-bottom: 30px;
}


.seccion
{
    padding-top: 60px;
	padding-bottom: 60px;
    
}

.row
{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.columna
{
	padding-right: 15px;
	padding-left: 15px;
}

.columna-25
{
	width: 25%;
}
h3{
    margin-bottom: 20px;
}
.efecto:hover{
    cursor: pointer;
}

.redes-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes-container ul li a{
    display: inline-block;
    padding: 0 10px;
    background: #333;
    color: white;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 0px rgba(0, 0, 0, .2);
    transition: 0.2s;
}
.redes-container ul:hover a{
    filter: blur(2px);
}
.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}
.redes-container ul li .facebook:hover{
    background: var(--facebook);
}
.redes-container ul li .twitter:hover{
    background: var(--twitter);
}
.redes-container ul li .instagram:hover{
    background: var(--instagram);
}
.breedcard{
    display: flex;
    margin-left: 80px;
    margin-right: 20px;    
}
.breedcardli{
    margin: 10px;
}


